h1
{
  color: blue;
  text-align: center;
}
h2
{
  color: black;
  text-align: center;
}
#p1
{
  color: pink;
  text-align: center;
}

#p2
{
  color: red;
  text-align: left;
  margin: auto;
  padding: 300;
}
div
{
  background-color: #03fce8;
  font-family: serif, arial;
  font-size:  28px;
  font-weight:bold;
  border-radius: solid; color: blue;
  }
