h1
{
  color: gold;
  text-align: left;
}
h2
{
  color: gold;
  text-align: left;
}
h3{
  color: blue;
  text-align: left;
  margin: auto;
  padding: auto;
}

p
{
  color: fuchsia;
  text-align: align
  margin: auto;
  padding: auto;
}
div
{

  background-image: url('flyer.pdf');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #33FFFF;
  font-family: serif, arial;
  font-size:  28px;
  font-weight: bold;
  border-radius: solid; color: blue;

  }
