h1
{
  color: blue;
  text-align: center;
}
h2
{
  color: black;
  text-align: center;
}
h3{
  color: red;
  text-align: center;
  margin: auto;
  padding: auto;
}

p
{
  color: orange;
  text-align: align
  margin: auto;
  padding: auto;
}
div
{
  background-image: image('mypic.jpg');
  font-family: serif, arial;
  font-size:  28px;
  font-weight:bold;
  border-radius: solid; color: blue;
  border-collapse: collapse;
  }
